<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coinchart.coin.repository.CoinMapper">

    <insert id="saveCoin" parameterType="coinchart.coin.domain.Coin$Request">
        <![CDATA[
        insert into coin (market, trade_price, save_datetime)
        values (#{market}, #{tradePrice}, #{saveDateTime})
        ]]>
    </insert>

    <select id="getCoin" parameterType="String" resultType="coinchart.coin.domain.Coin$ResponseDB">
        <![CDATA[
        select market, trade_price, save_datetime
        from coin
        where market = #{ticker}
        order by save_datetime asc
        ]]>
    </select>

    <select id="getCoins" resultType="coinchart.coin.domain.Coin$ResponseDB">
        <![CDATA[
        select market, trade_price, save_datetime
        from coin
        where (market, save_datetime) in (select market, max(save_datetime) as save_datetime from coin group by market)
        ]]>
    </select>

    <insert id="saveExchanges" parameterType="coinchart.coin.feignclient.dto.Exchange$Request">
        <![CDATA[
        insert into exchange(currency_code, base_price, us_dollar_rate, save_date, save_time)
        values (#{currencyCode}, #{basePrice}, #{usDollarRate}, #{date}, #{time})
        ]]>
    </insert>

    <update id="updateExchanges" parameterType="coinchart.coin.feignclient.dto.Exchange$Request">
        <![CDATA[
        update exchange
        set base_price     = #{basePrice},
            us_dollar_rate = ${usDollarRate},
            save_date      = #{date},
            save_time      = #{time}
        where currency_code = #{currencyCode}
        ]]>
    </update>

    <select id="getExchange" parameterType="String" resultType="coinchart.coin.feignclient.dto.Exchange$Response">
        <![CDATA[
        select currency_code, base_price
        from exchange
        where currency_code = #{currencyCode}
        ]]>
    </select>

    <select id="getExchanges" resultType="coinchart.coin.feignclient.dto.Exchange$Response">
        <![CDATA[
        select currency_code, base_price
        from exchange
        ]]>
    </select>

</mapper>