* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

table {
    margin: auto;
    width: 400px;
}

.thead thead th {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(244, 245, 248);
}

.select_exchange {
    color: #0d6efd;
}

.list_container {
    margin: auto;
    width: 400px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ticker {
    border-bottom: 1px solid rgb(244, 245, 248);
}

.ticker td {
    padding: 10px 0px 10px 0px;
}

.select_ticker {
    background-color: rgb(244, 245, 248);
}